.token {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h3 {
    font-weight: 500;
    font-size: 20px;

    display: flex;
    align-items: baseline;
    gap: 10px;

    span {
      font-weight: 400;
      font-size: 16px;
      font-style: italic;
    }
  }
}
