<div class="token">
  <h3>Company Name: <span>{{ token.companyName }}</span></h3>
  <h3>Token Name: <span>{{ token.tokenName }}</span></h3>
  <h3>Symbol: <span>{{ token.symbol }}</span></h3>
  <h3>Maximum token supply: <span>{{ token.maxTokenSupply }}</span></h3>
  <h3>Blockchain: <span>{{ token.blockchain }}</span></h3>
</div>
