<header>
  <h1 class="title">Token</h1>
  <h3 class="subtitle">Create your own crypto token</h3>
</header>

<form class="form" [formGroup]="form">
  <div class="flex-column">
    <label for="company">Company</label>
    <select id="company" class="form-select" formControlName="companyName">
      <option value="" class="form-option">My Company</option>
      <option value="ABS" class="form-option">ABS</option>
      <option value="Apple" class="form-option">Apple</option>
      <option value="Windows" class="form-option">Windows</option>
      <option value="Tesla" class="form-option">Tesla</option>
    </select>
    <div class="relative">
      <span
        class="error"
        *ngIf="companyNameControl && companyNameControl?.errors?.['required'] && companyNameControl.touched"
      >It's field required</span>
    </div>
  </div>

  <div class="flex-column">
    <label for="token-name">Token Name</label>
    <input type="text" id="token-name" formControlName="tokenName">
    <div class="relative">
      <span
        class="error"
        *ngIf="tokenNameControl && tokenNameControl?.errors?.['required'] && tokenNameControl.touched"
      >It's field required</span>
    </div>
  </div>

  <div class="flex-column">
    <label for="symbol">Symbol</label>
    <input type="text" id="symbol" formControlName="symbol">
    <div class="relative">
      <span
        class="error"
        *ngIf="symbolControl && symbolControl?.errors?.['required'] && symbolControl.touched"
      >It's field required</span>
      <span
        class="error"
        *ngIf="symbolControl && symbolControl?.errors?.['pattern'] && symbolControl.touched"
      >It's field must be similar to: MTKN</span>
    </div>
  </div>

  <div class="flex-column">
    <label for="max-token-supply">Maximum token supply</label>
    <input type="number" id="max-token-supply" formControlName="maxTokenSupply" max="100000000">
    <div class="relative">
      <span
        class="error"
        *ngIf="maxTokenSupplyControl && maxTokenSupplyControl?.errors?.['required'] && maxTokenSupplyControl.touched"
      >It's field required</span>
      <span
        class="error"
        *ngIf="maxTokenSupplyControl && maxTokenSupplyControl?.errors?.['max'] && maxTokenSupplyControl.touched"
      >It's field can't be more then 100 000 000</span>
    </div>
  </div>

  <div class="flex-column">
    <label for="blockchain">Blockchain</label>
    <div class="blockchain" id="blockchain">
      <div class="relative flex">
        <input
          #eth
          checked
          type="radio"
          name="blockchain"
          formControlName="blockchain"
          [value]="blockchains.ENTHEREUM"
        >
        <span class="custom-radio btn" [class.checked]="eth.checked">
        Enthereum
      </span>
      </div>
      <div class="relative flex">
        <input
          #binance
          type="radio"
          name="blockchain"
          formControlName="blockchain"
          [value]="blockchains.BINANCE"
        >
        <span class="custom-radio btn" [class.checked]="binance.checked">
        Binance Smart Chain
      </span>
      </div>
    </div>
  </div>

  <div class="flex-column relative">
    <label for="supply">Supply</label>
    <div class="relative">
      <input type="checkbox" id="supply" formControlName="isSupply">
      <span class="custom-checkbox"></span>
    </div>
  </div>

  <footer class="form-actions">
    <button
      type="button"
      class="form-save-btn btn"
      (click)="submit()"
      [disabled]="!formIsValid"
    >Save Draft</button>
  </footer>
</form>
