:host {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #000000;
}

header {
  margin-bottom: 24px;
}

.title {
  font-weight: 500;
  font-size: 64px;
  line-height: 132%;

  text-align: center;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;

  text-align: center;
}

.btn {
  outline: none;
  background: #C50000;
  border: none;
  border-radius: 48px;
  padding: 8px 11px;
  box-sizing: border-box;

  text-align: center;
  letter-spacing: 0.04em;

  color: #FFFFFF;
}

.form {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;

  label {
    font-weight: 400;
    font-size: 12px;

    color: #727272;
    margin-left: 3px;
  }

  &-select {
    min-width: 125px;
    width: max-content;
    border: none;
    background: none;
    outline: none;
  }

  &-save-btn {
    font-weight: 900;
    font-size: 16px;

    transition: .4s;
    cursor: pointer;

    &:disabled {
      opacity: 0.7;
    }
  }

  input[type=radio] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    /* Not removed via appearance */
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;

    & + .custom-radio {
      position: relative;
      border: 1px solid #BBBBBB;
      border-radius: 28px;

      &.btn {
        background-color: transparent;
        color: #000000;
      }
    }

    &:checked + .custom-radio {
      background: #C50000;
      border-color: #C50000;
      color: #FFFFFF;
    }
  }

  input[type=checkbox] {
    /* Add if not using autoprefixer */
    width: 16px;
    height: 16px;
    opacity: 0;
    position: absolute;
    z-index: 1;
    cursor: pointer;

    & + .custom-checkbox {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      border: 1px solid #BBBBBB;
      border-radius: 2px;
    }

    &:checked + .custom-checkbox::after {
      content: "";
      width: 10px;
      height: 10px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      border-radius: 1px;
      border-color: #C50000;
      background: #C50000;
    }
  }

  input[type=text],
  input[type=number] {
    padding: 8px 7px;

    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;

    height: 28px;
    border: 1px solid #BBBBBB;
    border-radius: 8px;
    background: none;
    outline: none;

    color: #000000;

    &.ng-touched.ng-invalid {
      border-color: #C50000;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number]
  {
    -moz-appearance: textfield;
  }
}

.blockchain {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.relative {
  position: relative;
}

.error {
  color: #C50000;
  font-size: 14px;
  position: absolute;
  bottom: -10px;
  left: 5px;
  transition: .4s;
}
