<div class="div container">
  <header>
    <img src="assets/logo.png" alt="Logo" />
  </header>
  <main class="main">
    <ng-container *ngIf="(tokens$ | async) as tokens">
      <ng-container *ngIf="tokens.length; else form">
        <app-tokens-list [tokens]="tokens"></app-tokens-list>
      </ng-container>

      <ng-template #form>
        <app-crypto-token-form (saved)="createToken($event)"></app-crypto-token-form>
      </ng-template>
    </ng-container>
  </main>
  <footer class="footer">
    <span class="text">© 2021 All rights reserved.</span>
    <nav class="navigation">
      <a href="#" class="link nav-link">Terms</a>
      <a href="#" class="link nav-link">Privacy</a>
      <a href="#" class="link nav-link">FAQ</a>
    </nav>
    <span class="text">Contact us: <a href="mailto:ask@test.capital" class="link">ask@test.capital</a></span>
  </footer>
</div>
