.container {
  padding: 48px 111px 25px;
  background-color: #E5E5E5;
  height: 100%;
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding: 85px 0 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #000000;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.link {
  text-decoration: none;
  color: #000000;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #000000;
}
